doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title #{title}
      link(rel='stylesheet' href='/public/stylesheets/reset.css')
      link(rel='stylesheet' href='/public/stylesheets/global.css')
      link(rel='stylesheet' href='/public/stylesheets/navbar.css')

      script(src="/public/javascripts/index.js") 

      block import
   body
      header.navbar-container
         div.navbar
            a.navbar__logo(href='/')
               img(src='/public/images/logo.svg' alt='logo')
            .navbar__search-container
               .navbar__category-container
                  select.navbar__category(onchange="navigateToCategory(this)")
                     if(categories !== undefined)
                        if(currentCategory === 'All')
                           option(value='All' selected) All
                        else
                           option(value='All') All

                        each category in categories
                           if(currentCategory === category.NAME)
                              option(value=`${category.NAME}` selected) #{category.NAME}
                           else
                              option(value=`${category.NAME}`) #{category.NAME}
                     else
                        option(value='All' selected) All

               input.navbar__search(type='text' placeholder='Search')
               button.navbar__search-btn.js-search-btn
            button.navbar__btn.js-login-btn Log In
            button.navbar__btn.js-signup-btn Sign Up 
            button.navbar__btn-image.js-cart-btn 
               img.navbar__image-btn(src='/public/images/icons-cart.png' alt='cart' onClick="window.location.href='/cart'")


      block content
         div No Product Found!
         
      script.
         function navigateToCategory(element) {
            const categorySelected = element.value;
            if(categorySelected === 'All')
               window.location.href = `/catalog`;
            else
               window.location.href = `/catalog/category/${categorySelected}`;
         }