extends layout 

block import
   link(rel='stylesheet' href='/public/stylesheets/product_detail.css')
   script(src='/public/javascripts/product_page.js' defer='')

block content
   .detail-container
      .gallery
         img.gallery__image(src=`${product.IMAGE_URL}`, alt=`${product.NAME}`, onerror="this.onerror=null; this.src='/public/images/no-product-image.jpg';")
      .product-detail
         .product-detail__name.js-product-name #{product.NAME}
         .product-detail__rating-container
            .product-detail__ratings
               .product-detail__empty-stars
               .product-detail__full-stars.js-rating-bar(style=`width: ${RATING_BAR_WIDTH}%;`)
            a.product-detail__rating-count.js-rating-count(href='') #{product.RATING_COUNT} Ratings
         .product-detail__split
         .product-detail__price.js-product-price &#x9F3; #{product.PRICE}
         .product-detail__quantity-manager
            .product-detail__quantity-label Quantity
            button.product-detail__quantity-btn.js-decrement-quantity-btn -
            input.product-detail__quantity-input.js-quantity-input(type='text' value='1')
            button.product-detail__quantity-btn.js-increment-quantity-btn +
         .product-detail__button-grp
            button.product-detail__buy-now-btn.js-buy-now-btn Buy Now
            button.product-detail__add-to-cart-btn.js-add-to-cart-btn(onclick=`addToCart(${product.ID})`) Add to Cart
      .other-detail
         .other-detail__header Other Details Implemented Later